In [ ]:
import pandas as pd
import numpy as np
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook

In [2]:
wb = load_workbook('template.xlsx')
ws = wb.active

In [ ]:
df = pd.read_csv('crime.csv', encoding='utf-8', dtype={'INCIDENT_NUMBER': str, 'OFFENSE_CODE':str,
                                                      'OFFENSE_CODE_GROUP':str, 'OFFENSE_DESCRIPTION':str,
                                                      'DISTRICT':str, 'REPORTING_AREA':str, 'YEAR':str, 'MONTH':str,
                                                      'DAY_OF_WEEK':str, 'HOUR':str})

In [4]:
# filter only records for Counterfeiting
df1 = df.query('OFFENSE_CODE_GROUP == "Counterfeiting"')

In [5]:
total_crimes = len(df.index)
counterfeit = len(df1.index)

In [6]:
perc_crimes = (counterfeit / total_crimes) * 100
perc_crimes = round(perc_crimes, 2)
perc_crimes

0.45

In [8]:
# Put calcutions into template cells
ws['O8'].value = total_crimes
ws['P8'].value = counterfeit
ws['Q8'].value = perc_crimes

In [ ]:
# get number of couterfeiting crimes per district per each year
# create new column "count" with value =1 in each row
df1['count'] = 1
df2 = df1.groupby(['DISTRICT', 'YEAR']).count()[['count']]
df2

# display district as row values

In [10]:
# to display districts as a column
df2 = df1.groupby(['DISTRICT', 'YEAR']).count()[['count']].unstack(level=0)
df2

         count
DISTRICT    A1 A15  A7  B2  B3 C11  C6 D14  D4 E13 E18  E5
YEAR
2015        25   5   6  32  26  73  16   6  35  17  20  15
2016        57   2  16  68  44  98  28  32  64  42  26  17
2017        37   8  14  64  34  62  27  69  66  37  23  15
2018        27   3   8  28  23  41  21  15  49  18  17  11

In [11]:
#  to write to xlsx - write data frame into rows
rows = dataframe_to_rows(df2)
# data should be write into template starting from row 8
for r_idx, row in enumerate(rows, 8):
    for c_idx, value in enumerate(row, 1):
        ws.cell(row=r_idx, column=c_idx, value=value)

In [11]:
wb.save('crime_report.xlsx')